<div class='container px-5 px-0'>
　<div class="row pt-3">
　   <div class="col-md-12">
      <h1>マイページ</h1>
      <div>
        <h2>登録情報</h2>
        <%= link_to "編集する", customers_mypage_edit_path, class: "btn btn-success" %>
      </div>
      <table class="table">
        <tr>
          <th>名前</th>
          <th><%= @customer.name %></th>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <th><%= @customer.email %></th>
        </tr>
        <tr>
          <th>投稿履歴一覧</th>
          <th><%= link_to "一覧を見る", customers_myindex_path, class: "btn btn-info" %></th>
        </tr>
      </table>
     </div>
  </div>
</div>