         <% comments.each do |comment| %>
          <div class="row">
              <div class="col-5 mr-0 pr-0 pl-0">
               <%= comment.created_at.to_s(:datetime_jp) %> <%#to_sメソッドを呼び出して、引数にフォーマット名を指定 %>
               <div><%= comment.customer.name %></div>
              </div>
              <div class="col-5 mr-0 pr-0 pl-0">
               <%= comment.comment %>
              </div>
              <div class="col-2 mr-0 pr-0 pl-0">
              <% if comment.customer == current_customer %>  <!--非同期通信化のためremote: trueを追加-->
                <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete, data: { confirm: "本当に消しますか？" }, remote: true, class: "btn btn-danger" %>
              <% end %>
              </div>
          </div>
         <% end %>



