<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-11 text-center" >
      <h1>About</h1>
      <h4>
        動物をただ可愛がっていませんか?<br>
        動物の体重を測ることで病気の早期発見をすることができ動物の健康を守ることができます。<br>
        動物の健康状態を把握する上で必要な行為だということを皆さんに知ってほしいです。<br>
        是非、皆さんも飼っている動物の体重を測ってみましょう!
      </h4>
      <%= image_tag 'no_image.jpg', style:"width: 500px; height: 500px;" %>
    </div>
  </div>
</div>
