<div class='container px-5 px-0'>
  <div class='row'>
    <div class='col-12 mt-5'>
      <div class="jumbotron"
             style="background-image:url('<%= asset_path("image1.jpg"); %>');
                    background-size:cover;
                    background-color:rgba(255,255,255,0.5);
                    background-blend-mode:lighten;">   <!--明るく合成する-->

          <h1 class="display-1">ようこそ、<br>Animal weightへ！</h1>
          <h5 style="color:white;"><br>
          自分の飼っている動物の体重を記録するサービスです。 <br>
          自分の飼っている動物の体重を振り返ったり、<br>
          他のユーザの動物の体重を見ることができたりコメントすることができます。<br>
          検索フォームでは動物の種類,餌の種類を検索することができます。<br>
          動物の種類を検索する場合はpetを選択、餌の種類を検索する場合はpostを選択する。<br>
          ＊ゲストログインはあくまで新規登録をしないでログインをすることができ、ペット登録、投稿はできません。<br>
          ＊ペット登録をしないと投稿できないので投稿する際には必ずペット登録をおこなってください</h5>
      </div>
  </div>
</div>
