<div class='container px-5 px-0'>
  <div class='row'>
    <div class='col-12 offset-1 mt-5'>
      <div class="jumbotron"
             style="background:url('assets/image0[17].jpeg');
                    background-size:cover;
                    background-color:rgba(255,255,255,0.5);
                    background-blend-mode:lighten;">   <!--明るく合成する-->

          <h1 class="display-1">ようこそ、<br>Animal weightへ！</h1>
          <h5><br>
          自分の飼っている動物の体重を記録するサービスです。 <br>
          自分の飼っている動物の体重を振り返ったり、<br>
          他のユーザの動物の体重を見ることができたりコミュニケーションをとることができます。</h5>
      </div>
  </div>
</div>
